.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 1.2rem;
  transition: var(--transition);
}

.portfolio__item:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  transform: translateY(-0.2rem);
}

.portfolio__item:hover #portfolio__item-folder {
  color: var(--color-primary-variant);
}

.portfolio__item h3 {
  color: var(--color-white);
  cursor: default;
  margin: 1rem 0 0.6rem;
  text-align: center;
  font-size: 1.3rem;
}

.portfolio__item-cta {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.portfolio__item-cta div {
  display: flex;
  gap: 0.8rem;
  margin-top: 0.2rem;
}

.portfolio__item-cta svg {
  color: var(--color-primary);
  font-size: 1.8rem;
}

#portfolio__item-folder {
  color: var(--color-primary);
  font-size: 2.5rem;
  transition: var(--transition);
}

.portfolio__item-cta a,
.portfolio__item-cta a svg {
  transition: var(--transition);
}

.portfolio__item-cta a:hover,
.portfolio__item-cta a svg:hover {
  color: var(--color-white);
}

.portfolio__item-description {
  color: var(--color-light);
  cursor: default;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.6;
  min-height: 8rem;
  padding: 0 1rem;
  text-align: center;
}

.portfolio__item-tech {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 1rem 0 0;
  padding: 0 1rem;
}

.portfolio__item-tech span {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  color: var(--color-primary);
  cursor: default;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
}

.container.portfolio__button {
  display: flex;
  justify-content: center;
}

#portfolio a.btn {
  position: relative;
  margin-top: 4rem;
  padding-right: 2.5rem;
  text-align: center;
}

#portfolio a.btn svg {
  position: absolute;
  font-size: larger;
  top: calc(50% - 0.6rem);
  right: calc(0% + 0.8rem);
}

/* =================== MEDIA QUERIES ================= */
/* ================== MEDIUM DEVICES ================= */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ================== SMALL DEVICES ================= */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
