* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Saira';
}

::selection {
    background-color: #660ff1;
    color: #dadada;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button,
input {
    border: 0;
    font-family: 'Saira';
}

button:focus,
input:focus {
    border: 0;
}

body {
    font-family: 'Saira';
    /* color: #a0a0a0; */
}

/* comportamento do scroll do mouse e redução global da fonte */
html {
    scroll-behavior: smooth;
    font-size: 66.5%;
}
/*  */

/* COR posicao e padding do menu de navegação */
header {
    background: rgba(10, 10, 25, 0.7);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border-bottom: 1px solid rgba(114, 114, 126, 0.2);
    z-index: 999;
    width: 100%;
    /* nav-bar fixado no topo do site */
    position: fixed;
    top: 0;
    left: 0;
}

/* modificações da nav para flex e espaçamentos */
header .layout-menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 8vh;
    padding: 0px 8px;
}

header .layout-menu nav img {
    width: 150px;
}

/* torna a lista flex, podendo se organizar lado-a-lado */
header .layout-menu nav .lista-navegacao {
    list-style: none;
    display: flex;
}

header .layout-menu nav .lista-navegacao li {
    margin-left: 48px;
}

/* Altera fonte, cor e posição ancoradas da lista */
header .layout-menu nav .lista-navegacao li a {
    color: #bbbbbb;
    position: relative;
    font-size: 2rem;
}

/* Efeito da barra gradiente abaixo dos links na navegação - inicio vindo para a direita  */
header .layout-menu nav .lista-navegacao li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -6px;
    left: 0;
    background: linear-gradient(250deg, #6012df 0%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform 0.8s cubic-bezier(0.8, 0, 0.08, 1);
}

/* animação após nos links na navegação - saindo pela esquerda */
header .layout-menu nav .lista-navegacao li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Cor do texto da lista de navegação ao fazer mouse hover */
header .layout-menu nav .lista-navegacao li a:hover {
    color: #ffffff;
    font-weight: 500;
    transition: 0.8s;
}

.imagem-logo {
    transition: transform 2s ease-in-out;
}

.imagem-logo:hover {
    transform: scale(1.1);
}

.lista-navegacao.active {
    visibility: initial;
    transition: 1s all ease-in-out 0s;
}

/* SEÇÃO HOME */

#s-home {
    padding: 0px 50px;
    background-color: #0e0d1d;
    position: relative;
    font-size: 2.2rem;
}

#s-home .layout-menu #home #home-container-texto h1 #home-nome {
    font-size: 5.6rem;
    font-weight: 500;
}

/* COR posicao e padding da área do ABOUT ME */
#s-home .layout-menu #home {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 90vh;
    overflow: hidden;
    width: 100%;
}

#s-home .layout-menu #home #home-container-text {
    width: 60%;
    flex-direction: column;
}

#s-home .layout-menu #home #home-container-texto h1 {
    color: #bd99ba;
    font-weight: 300;
}

#s-home .layout-menu #home #home-container-texto h1 #home-nome {
    font-size: 6rem;
    font-weight: 500;
    color: #f0f0f0;
}

#s-home .layout-menu #home #home-container-texto h1 #home-ponto {
    color: #6012df;
    font-size: 6rem;
}

#s-home .layout-menu #home #home-container-texto a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        225deg,
        rgba(102, 16, 242, 0.3) 0%,
        rgba(102, 16, 242, 0) 100%
    );
    color: #f0f0f0;
    backdrop-filter: blur(10px);
    padding: 1.4rem 2rem;
    max-width: 23rem;
    border: 1px solid rgba(102, 16, 242, 0.5);
    transition: all 1s ease-in-out;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 500;
}

#s-home .layout-menu #home #home-container-texto a:hover {
    padding: 1.4rem 3rem;
    max-width: 27rem;
    background: linear-gradient(
        225deg,
        rgba(102, 16, 242, 0.6) 0%,
        rgba(102, 16, 242, 0) 100%
    );
}

/* tamanho do container da photo */
#s-home .layout-menu #home #home-container-photo {
    position: relative;
    width: 40%;
    height: 100vh;
    transition: all 1.2s ease-in-out 0.2s;
}

#s-home .layout-menu #home #home-container-photo:hover {
    transform: scale(1.2);
}

/* propriedades do logo dentro do container photo */
#logo-lab {
    width: 90%;
    position: absolute;
    top: 20%;
    left: 20%;
}

@media screen and (max-width: 992px) {
    #s-home {
        padding: 0px 20px;
    }

    #logo-lab {
        display: none;
    }
}

#logo-lab:hover {
    transition: all 1s ease-in-out 0.2s;
    animation: mover 22s ease-in-out infinite;
    animation-delay: 0.3s;
}

@keyframes mover {
    0% {
        transform: rotate3d(0, 0, 0, 0);
    }
    25% {
        transform: rotate3d(1.5, -1.5, 1, 30deg);
    }
    50% {
        transform: rotate3d(-1, 1, -1.5, 50deg);
    }
    75% {
        transform: rotate3d(1, -1, 1, 30deg);
    }
    100% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

/* SEÇÃO SOBRE */
#s-about {
    padding: 0px 50px;
    background-color: #0b0a17;
}

#s-about .layout-menu #about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#s-about .layout-menu #about-photo {
    width: 50%;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 1s all ease-in-out;
}

#s-about .layout-menu #about-photo #photo-alvalenda {
    width: 35rem;
}

#s-about .layout-menu #about-photo:hover {
    transform: scale(1.1);
}

#s-about .layout-menu #about-photo .icone-com-cor img {
    width: 35rem;
}

#s-about .layout-menu #about-photo .icone-com-cor {
    position: absolute;
    /* background-color: #0b0a17; */
    border-radius: 4px;
    width: 7.5rem;
    height: 7.5rem;
}

@media screen and (max-width: 992px) {
    #s-about {
        padding: 0px 20px;
    }

    #photo-alvalenda {
        display: none;
    }

    .icone-com-cor img {
        display: none;
    }
}

#s-about .layout-menu #about-photo .icon-one {
    top: 2rem;
    right: 28rem;
    animation: icon-move1 3s ease 2.9s infinite alternate;
}

#s-about .layout-menu #about-photo .icon-two {
    top: 9rem;
    right: 14rem;
    animation: icon-move2 3s ease 1.9s infinite alternate;
}

#s-about .layout-menu #about-photo .icon-three {
    top: 15rem;
    right: 40rem;
    animation: icon-move3 3s ease 0.6s infinite alternate;
}

@keyframes icon-move1 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1rem, 3rem, 0);
    }
}

@keyframes icon-move2 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-2rem, 3rem, 0);
    }
}

@keyframes icon-move3 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-2rem, -3rem, 0);
    }
}

#s-about .layout-menu #about-text {
    width: 50%;
}

@media screen and (max-width: 1200px) {
    #s-about .layout-menu #about-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }
}

#s-about .layout-menu #about-text h2 {
    padding-bottom: 2rem;
    color: #fafafa;
    font-size: 4rem;
    font-weight: 500;
}

#s-about .layout-menu #about-text h2 span {
    color: #6012df;
    font-size: 6rem;
}

#s-about .layout-menu #about-text p {
    line-height: 3rem;
    color: #b3b3b3;
    font-family: 'Saira';
    font-size: 2.1rem;
}

/* SEÇÃO PROJETOS */

#s-projects {
    padding: 96px 48px;
    text-align: center;
    background-color: #0e0d1d;
}

@media screen and (max-width: 992px) {
    #s-projects {
        padding: 48px 16px;
    }
}

#s-projects .layout-menu h2 {
    padding-bottom: 24px;
    color: #fafafa;
    font-size: 4rem;
    font-weight: 500;
}

#s-projects .layout-menu h2 span {
    color: #6012df;
    font-size: 6rem;
}

#s-projects .layout-menu #projects {
    margin: 2.2rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

#s-projects .layout-menu #projects > article {
    background-color: #0b0a17;
    height: auto;
    padding: 32px;
    margin: 8px;
    flex-basis: calc(33% - 20px);
    flex-grow: 1;
    border: 1px solid #080713;
    transition: 1s all ease;
}

#s-projects .layout-menu #projects > article:hover {
    border: 1px solid #6012df;
}

/* medias queries - talvez */

#s-projects .layout-menu #projects > article h3 {
    color: #fafafa;
    font-size: 2.4rem;
    font-weight: 500;
}

#s-projects .layout-menu #projects > article p {
    line-height: 24px;
    margin-top: 24px;
    color: #a0a0a0;
    line-height: 3.2rem;
    font-family: 'Saira';
    font-size: 1.8rem;
}

#s-projects .layout-menu a {
    color: #6610f2;
    position: relative;
    font-size: 1.8rem;
    font-weight: 500;
}

#s-projects .layout-menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, #6610f2 0%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

#s-projects .layout-menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* SEÇÃO SERVIÇOS */

#s-services {
    padding: 96px 48px;
    background-color: #0b0a17;
}

@media screen and (max-width: 992px) {
    #s-services {
        padding: 48px 16px;
    }
}

#s-services .layout-menu h2 {
    text-align: center;
}

/* SEÇÃO HABILIDADES */

#s-skills {
    padding: 96px 48px;
    background-color: #0e0d1d;
    padding-bottom: 32px;
}

/* FOOTER */

footer .layout-menu {
    border-top: 1px solid rgba(104, 97, 110, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem;
}

footer .layout-menu #direitos-autorais {
    margin-top: 3rem;
}

footer .layout-menu p {
    color: #cacaca;
    font-size: 2rem;
}

.layout-menu {
    max-width: 1140px;
    margin: 0 auto;
}
