.container.contact__container {
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  width: 58%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1.2rem;
  padding: 1.2rem;
  text-align: center;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option h5 {
  color: var(--color-light);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* ---------------------- FORM ---------------------- */
form {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 40rem;
  gap: 1.3rem;
}

.contact__form-name {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  gap: 0.5rem;
  justify-content: center;
  max-height: 12.5%;
}

.separator {
  width: 100%;
}

form input,
form textarea {
  background: transparent;
  color: var(--color--white);
  border: 2px solid var(--color-primary-variant);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  resize: none;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.separator-message {
  min-height: 66.5%;
  height: 70%;
}

form button {
  align-self: center;
}

.separator {
  position: relative;
}

.contact__form-effect {
  background: var(--color-primary);
  border-radius: 25%;
  position: absolute;
  bottom: calc(0% + 0.5rem);
  left: calc(0% + 1.25rem);
  height: 3px;
  width: calc(100% - 2.5rem);
  opacity: 0.8;
  transform: scale(0);
  transition: all 0.8s cubic-bezier(0.17, -0.2, 0.735, 0.045);
}

form input:focus + .contact__form-effect {
  transform: scale(1);
}

form textarea:focus + .contact__form-effect {
  transform: scale(1);
}

/* =================== MEDIA QUERIES ================= */
/* ================== MEDIUM DEVICES ================= */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  form {
    gap: 2;
    height: 100%;
  }

  .contact__form-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 25%;
    max-height: 25%;
    gap: 1.2rem;
  }

  .separator.separator-subject {
    height: 12.5%;
  }

  .separator-name,
  .separator-email {
    height: 100%;
  }

  /* .separator-name span,
  .separator-email span {
    bottom: calc(0% - 1rem);
  } */

  .separator-message {
    min-height: 45%;
  }
}

/* ================== SMALL DEVICES ================= */
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
